@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2709 0.0087 229.2109);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2709 0.0087 229.2109);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2709 0.0087 229.2109);
  --primary: oklch(0.6657 0.1130 201.3904);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9691 0.0017 247.8397);
  --secondary-foreground: oklch(0.2709 0.0087 229.2109);
  --muted: oklch(0.9691 0.0017 247.8397);
  --muted-foreground: oklch(0.5579 0.0218 229.3239);
  --accent: oklch(0.9691 0.0017 247.8397);
  --accent-foreground: oklch(0.6657 0.1130 201.3904);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9379 0.0035 247.8606);
  --input: oklch(0.9379 0.0035 247.8606);
  --ring: oklch(0.6657 0.1130 201.3904);
  --chart-1: oklch(0.6657 0.1130 201.3904);
  --chart-2: oklch(0.3725 0.0134 229.2727);
  --chart-3: oklch(0.5579 0.0218 229.3239);
  --chart-4: oklch(0.7264 0.0160 229.0530);
  --chart-5: oklch(0.8853 0.0066 228.8475);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.4206 0.0156 229.2908);
  --sidebar-primary: oklch(0.6657 0.1130 201.3904);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9691 0.0017 247.8397);
  --sidebar-accent-foreground: oklch(0.6657 0.1130 201.3904);
  --sidebar-border: oklch(0.9379 0.0035 247.8606);
  --sidebar-ring: oklch(0.6657 0.1130 201.3904);
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "SF Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(220, 25%, 10%);
  --shadow-2xs: 0px 1px 1px 0px hsl(220 25% 10% / 0.02);
  --shadow-xs: 0px 1px 2px 0px hsl(220 25% 10% / 0.03);
  --shadow-sm: 0px 1px 3px 0px hsl(220 25% 10% / 0.04), 0px 1px 2px -1px hsl(220 25% 10% / 0.02);
  --shadow: 0px 2px 4px -1px hsl(220 25% 10% / 0.03), 0px 4px 6px -1px hsl(220 25% 10% / 0.05);
  --shadow-md: 0px 4px 6px -2px hsl(220 25% 10% / 0.04), 0px 8px 12px -4px hsl(220 25% 10% / 0.06);
  --shadow-lg: 0px 8px 16px -4px hsl(220 25% 10% / 0.06), 0px 12px 20px -6px hsl(220 25% 10% / 0.08);
  --shadow-xl: 0px 12px 24px -6px hsl(220 25% 10% / 0.08), 0px 20px 32px -8px hsl(220 25% 10% / 0.10);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1461 0.0028 228.6542);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1703 0.0039 229.0694);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1461 0.0028 228.6542);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6657 0.1130 201.3904);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2386 0.0072 229.1792);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2386 0.0072 229.1792);
  --muted-foreground: oklch(0.7264 0.0160 229.0530);
  --accent: oklch(0.2386 0.0072 229.1792);
  --accent-foreground: oklch(0.6657 0.1130 201.3904);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2602 0.0082 229.2014);
  --input: oklch(0.2602 0.0082 229.2014);
  --ring: oklch(0.6657 0.1130 201.3904);
  --chart-1: oklch(0.6657 0.1130 201.3904);
  --chart-2: oklch(0.4206 0.0156 229.2908);
  --chart-3: oklch(0.6017 0.0237 229.3311);
  --chart-4: oklch(0.7668 0.0136 228.9895);
  --chart-5: oklch(0.9239 0.0043 228.8114);
  --sidebar: oklch(0.1703 0.0039 229.0694);
  --sidebar-foreground: oklch(0.8462 0.0089 228.8884);
  --sidebar-primary: oklch(0.6657 0.1130 201.3904);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2386 0.0072 229.1792);
  --sidebar-accent-foreground: oklch(0.6657 0.1130 201.3904);
  --sidebar-border: oklch(0.2602 0.0082 229.2014);
  --sidebar-ring: oklch(0.6657 0.1130 201.3904);
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "SF Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(220, 25%, 5%);
  --shadow-2xs: 0px 1px 1px 0px hsl(220 25% 5% / 0.04);
  --shadow-xs: 0px 1px 2px 0px hsl(220 25% 5% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(220 25% 5% / 0.06), 0px 1px 2px -1px hsl(220 25% 5% / 0.04);
  --shadow: 0px 2px 4px -1px hsl(220 25% 5% / 0.05), 0px 4px 6px -1px hsl(220 25% 5% / 0.08);
  --shadow-md: 0px 4px 6px -2px hsl(220 25% 5% / 0.06), 0px 8px 12px -4px hsl(220 25% 5% / 0.10);
  --shadow-lg: 0px 8px 16px -4px hsl(220 25% 5% / 0.10), 0px 12px 20px -6px hsl(220 25% 5% / 0.12);
  --shadow-xl: 0px 12px 24px -6px hsl(220 25% 5% / 0.12), 0px 20px 32px -8px hsl(220 25% 5% / 0.15);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    font-family: var(--font-sans);
  }
}